{
    "env": {
        "jest": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": "airbnb/base",
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "linebreak-style": [0],
        "react/jsx-indent": [2, 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent-props": [2, 4],
        "react/prefer-stateless-function": [true, { "ignorePureComponents": true }],
        "import/no-extraneous-dependencies": [0],
        "no-underscore-dangle": [0],
        "no-plusplus": "off",
        "no-restricted-globals": [0],
        "no-console": [0],
        "max-len": [0]
    },
    "globals": {
        "__DEV__": true
    }
}
