.unit {
    border: 1px solid #9da0a4;
    height: fit-content;
    padding: 15px;
}

.unit__health {
    width: max-content;
    max-width: 100%;
    border: 1px solid #9da0a4;
    padding: 2px 10px;
    text-align: center;
    margin: 0 auto 12px;
}

.unit__img {
    width: 100px;
    height: 115px;
    background: url('../img/zombie-mad.gif') no-repeat center;
    background-size: contain;
}
